footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: black;
    max-height: 100%;
}
 
.nome-loja {
    font-size: 20px;
}

p {
    font-size: 20px;
}
 body {
    font-family: 'Oswald', sans-serif;;
 }