.text-container {
    font-size: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 1330px) {
    .text-container {
        margin-left: 0px;
    }
}
.cadastro {
    width: 60% !important;
    border: none !important;
    padding: 0.62rem !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all .2s ease !important;
    font-size: 25px !important;
    background-color: #CFB53B !important;
}

.cadastro:hover {
    background-color: #B59D35 !important;
    color: white !important;
}
