footer {
    position: relative !important;
    bottom: 0px !important;
    width: 100% !important;
    background-color: black !important;
    max-height: 100% !important;
}
 
.nome-loja, p {
    font-size: 20px;
}
