@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000004d !important;
    
}

.container {
    width: 80%;
    height: 95vh;
    display: flex;
    
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.golden {
    background-color: #CFB53B !important;
    border: none !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #fff !important;
    width: 30% !important;
    height: 40% !important;
    margin:10px !important;
    padding: 10px !important;
    transition: all .2s ease !important;
}


.golden:hover {
    color: #ffffff !important;
    background-color: #B59D35 !important;
}


.lg-button{
    background-color: #CFB53B !important;
    border: none !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #fff !important;
    width: 98% !important;
    height: 40% !important;
    margin:10px !important;
    padding: 10px !important;
    transition: all .2s ease !important;
}


.lg-button:hover {
    color: #ffffff !important;
    background-color: #B59D35 !important;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #CFB53B;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    margin:auto;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #CFB53B;
}

.input-box label,
.gender-title h5 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-around;
    margin-top: 0.62rem;
    padding: 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}






@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 90%;
    }
}

@media screen and (max-width: 1064px) {
    
    
   
    
    .container {
        width: 100%;
        height: auto;
        margin-top: auto auto;
        
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}


@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        height: auto;
        margin-top: 10rem;
        
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}


@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        height: auto;
        margin-top: 20rem;
        
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}