.navbar {
    height: 63px;
    background-color: rgb(0, 0, 0) !important;
}

.menu {
    height: 30px;
    width: 32px;
    min-width: 25px;
    min-height: auto;
}

.usuario {
    height: 25px;
    width: 25px;
    min-width: 17px;
    min-height: 17px;
}

.carrinho {
    height: 31px;
    width: 31px;
    min-width: 26px;
    min-height: 20px;
}

.img-logo {
    width: 200px !important;
    min-height: 31px;
    min-width: 110px !important;
}

body {
    font-family: 'Oswald', sans-serif;
}

.offcanvas-body ul li {
    list-style: none;
    margin-bottom: 30px;
}

.offcanvas-body ul li:last-child {
    margin-bottom: 0;
}

.offcanvas-body ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    transition: all .4s ease;
}

.offcanvas-body ul li a:hover {
    color: #CFB53B;
}

.dropdown-menu {
    transform: translate3d(-70px, 10px, 0px);
}

.offcanvas ul li a {
    position: relative;
}

.offcanvas ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px; /* Altura da linha inferior */
    background-color: #D9D9D9; /* Cor da linha inferior */
    transition: all 0.5s; /* Adicione uma transição para suavizar a animação */
}

/* Quando você passa o mouse sobre o link, expande a linha para destacar o texto */
.offcanvas ul li a:hover::before {
    width: 60%;
}