.nome-produto,
.valor-produto,
.tamanho {
    font-size: 25px;
}

.comprar {
    width: 50% !important;
    border: none !important;
    padding: 0.62rem !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all .2s ease !important;
    font-size: 25px !important;
}

.comprar:hover {
    background-color: #B59D35 !important;
    color: white !important;
}

.text-container {
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 50px;
}

.img-prod {
    height: 100px;
    width: 120px;
    min-height: 20px;
    min-width: 40px;
}

.card-produto {
    border: none !important;
    background-color: transparent !important;
}

.custom-card {
    background-color: #2E2E2E !important;
    color: white !important;
    border-color: #2E2E2E !important;
    width: 240px !important;
    height: 270px !important;
    border-radius: 5px !important;
    font-size: 14px !important;
}

.card-img-top {
    transition: all .2s ease !important;
}

.custom-card:hover {
    border-color: #CFB53B !important;
    color: #CFB53B !important;
    border-width: 2px !important;
}

.card-img-top:hover {
    transform: scale(1.1) !important;
}

.col-custom {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 2px 9px;
    display: inline-block;
    background-color: #D9D9D9;
    color: black;
    border-radius: 3px;
}

label.radio input:checked+span {
    border-color: black;
    background-color: #2E2E2E;
    color: #fff
}

.line-check {
    border-bottom: 1px solid black !important;
    transition: all .2s ease !important;
    border-spacing: 10px !important;
}

.line-check:checked {
    border-bottom: #CFB53B !important;
}